<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LocalTube</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header class="topbar">
    <h1 class="logo">
        <a href="/">LocalTube</a>
    </h1>
    <nav class="nav">
        <a href="/" class="{% if active == 'home' %}active{% endif %}">Home</a>
        <a href="/subscriptions" class="{% if active == 'subscriptions' %}active{% endif %}">
            Subscriptions
        </a>
    </nav>

</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
