{% extends "base.html" %}

{% block content %}
<div class="grid">
    {% for id, title, channel, thumb in videos %}
    <a class="card" href="/player/{{ id }}">
        <div class="thumb">
            {% if thumb %}
                <img
                    src="/media/thumb?path={{ thumb }}"
                    alt="{{ title }}"
                    loading="lazy"
                    decoding="async">
            {% else %}
                <div class="no-thumb">No Preview</div>
            {% endif %}
        </div>

        <div class="meta">
            <div class="title">{{ title }}</div>
            <div class="channel">{{ channel }}</div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
